.activities {

        thead {
            background-color: #011a27 !important;
            border: 1px solid #2e2d2d;
            color:#fff;

            th {
                padding: 4px 20px 4px 20px;
            }

        }

        tbody{
            background-color: #fff !important;
            border: 1px solid #2e2d2d;

            &:hover {
                background-color: #052538 !important;
                color:#fff !important;
            }

            a {
                font-weight: bold;
            }
        }

} 