.athlete {

    .chart-column {
        background-color: #001019;
    }

    table {

        thead {
            background-color: #011a27 !important;
            border: 1px solid #2e2d2d;
            color:#fff;

        }

        tbody{
            background-color: #001019 !important;
            border: 1px solid #2e2d2d;

            &:hover {
                background-color: #052538 !important;
            }

            a {
                font-weight: bold;
            }
        }
    }

    h3{

        color:#fff;
    }

    .row {

        margin-bottom:20px;


        .columns:nth-child(1) {
            width:14%;
        }

        .columns:nth-child(2) {
            width:80%;
            padding-top:80px;
            color:#fff;
            span {
                color: #fff;
            }
            p {
                line-height: 0.5;
            }
        }

        
    }
}