.athlete {

    .chart-column {
        background-color: #001019;
    }

    h3{

        color:#fff;
    }

    .row {

        margin-bottom:20px;


        .columns:nth-child(1) {
            width:14%;
        }

        .columns:nth-child(2) {
            width:80%;
            padding-top:80px;
            color:#fff;
            span {
                color: #fff;
            }
            p {
                line-height: 0.5;
            }
        }

        
    }
}