.athlete {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 3px;

    h3{

        color:#dbd3f3;
    }

    .row {

        margin-bottom:20px;


        .columns:nth-child(1) {
            width:20%;
        }

        .columns:nth-child(2) {
            width:80%;
            padding-top:80px;
            color:#17141f;
            span {
                color: #888;
            }
            p {
                line-height: 0.5;
            }
        }

        
    }
}