
body {

    font-family: 'Titillium Web', sans-serif !important;

    h1, h2, h3, h4, h5, h6 { 

        font-family: 'Titillium Web', sans-serif !important;
    }

  }



.top-bar , .top-bar ul {
    background-color: #3a4660 !important;

    .menu {

        a {
            color:#fff;
        }

        .menu-text {

            a {
                color:#c9af98;
            }
        }

    }

}