
body {

    background-color: #17141f !important;


    font-family: 'Titillium Web', sans-serif !important;

    h1, h2, h3, h4, h5, h6 { 

        font-family: 'Titillium Web', sans-serif !important;
    }

    color: #b8b5c0!important;

  }

label {
    color: #b8b5c0!important;
}


.top-bar , .top-bar ul {
    background-color: #3a4660 !important;
    padding: 0 .5rem !important;

    .menu {

        a {
            color:#fff;
        }

        .menu-text {

            a {
                color:#c9af98;
            }
        }

    }

}


.grid-container {

    padding-top: 20px;
}