
body {

    background-color: #17141f !important;

    background-image: url('styles/images/bg-signin.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    font-family: 'Titillium Web', sans-serif !important;

    h1, h2, h3, h4, h5, h6 { 

        font-family: 'Titillium Web', sans-serif !important;
    }

    color: #b8b5c0!important;

  }

label {
    color: #b8b5c0!important;
}


.card {

    .card-divider {
        background-color: #011a27 !important;
        border: 1px solid #2e2d2d;
        color: #fff;
        
    }

    i {
        margin-left:20px;
        color:#39b8e2;
        text-transform: uppercase;
        font-style: normal;
        font-size: 13px;
        line-height: 26px;
    }
    
    
    background-color: #001019 !important;
    border: 1px solid #2e2d2d !important;

    .card-section {
      padding:0 !important;
    }
}

.top-bar , .top-bar ul {
    background-color: transparent !important;
    padding: 5px 0 0 0 !important;

    .menu {
        
        padding-left:40px;

        .logo {

            a {
                background-image: url("./styles/images/logo.png");
                background-repeat: no-repeat;
                background-size: 28px;
                background-position-y: 3px;
            }
        }

        button {
            margin: 11px;
            color: #d79741;            
        }


        a, button {
            color:#fff;
            font-size:12px;
            text-transform: uppercase;

        }

        .menu-text {

            padding:0;

            a {
                color:#c9af98;

            }
        }

    }

}


.grid-container {

    padding-top: 20px;
}